body {
	color: #333;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

div {
	border: 0;
	margin: 0;
	padding: 0;
}

div#moldura {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
}

div#conteudo {
	width: 85%;
	position: relative;
	float: right;
}

div#menu_esq {
	width: 15%;
	min-height: 450px;
	position: relative;
	float: left;
}

ul#menu, ul#menu ul {
	font-size: 16px;
	padding: 0px 10px;
	list-style: none;
}
